<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css"> <!-- Changement du href -->
    <title>Promeo</title> <!-- Changement du title -->
</head>
<body>
        <header>
            <div class="navbar" id="myNavbar">
                <a href="/" class="active">Accueil</a>
                <a href="/connexion">Connexion</a>
                <a href="#" class="icon">
                  <i class="fa fa-bars"></i>
                </a>
            </div>
        </header>
    <div class="container">
        <main>
            <br>
            <div class="presentation">
                <h1>Promeo Formation est un organisme de formation professionnelle situé en Hauts de France, 
                    spécialisé dans la formation continue et le développement des compétences. 
                    Voici quelques informations générales sur Promeo 
                </h1>
            </div>   
            
            <div class="para">
                <h4>Offre de formations :</h4>
                <p class="content">Promeo Formation propose une variété de formations dans différents domaines tels que l'informatique, 
                    le management, la communication, les ressources humaines, la sécurité au travail, etc. Les programmes
                     de formation peuvent être destinés aux salariés, aux demandeurs d'emploi et aux entreprises.
                </p>

                <h4>Public cible: </h4>
                <p class="content">Public cible : Les formations de Promeo peuvent être destinées à un large public, y compris les professionnels 
                    souhaitant acquérir de nouvelles compétences, les entreprises cherchant à former leurs employés, ainsi que les
                     personnes en recherche d'emploi cherchant à développer leurs qualifications. 
                </p>   
                
                <h4>Localisation :</h4>
                <p class="content">Promeo Formation a des centres de formation dans différentes régions de la France. Les formations peuvent être 
                    dispensées en présentiel dans les locaux de l'organisme, en entreprise ou à distance selon les besoins.
                </p>

                <h4>Adaptabilité: </h4>
                <p class="content">Promeo Formation vise souvent à s'adapter aux besoins spécifiques de ses clients, en proposant des programmes 
                    personnalisés ou en travaillant en partenariat avec des entreprises pour développer des formations sur mesure.
                </p>

                <h4>Certification: </h4>
                <p class="content">Certains programmes de formation de Promeo peuvent conduire à l'obtention de certifications reconnues, ce qui
                     peut être un avantage significatif sur le marché du travail.
                </p>
            </div>
        </main>
    </div>
</body>
</html>
